{{template "admin/layout.html" .}}
<a href="/admin/category/add" class="btn btn-success" >添加分类</a>
{{if eq $.code 1}}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> 数据保存失败，请重试！
</div>
{{end}}
{{if eq $.code 2}}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> 操作成功
</div>
{{end}}
<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>分类名</th>
          <th>分类级别</th>
          <th>优先级</th>
          <th>首页显示</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{range.clist}}
        {{if .id}}
        <tr>
          <th scope="row">{{.id}}</th>
          <td>{{.name}}</td>
          {{if .pid}}
          <td><a class="btn btn-success">二级分类</a></td>
          {{else}}
          <td><a class="btn btn-default">一级分类</a></td>
          {{end}}
          
          <td><a class="btn btn-success">{{.level}}</a></td>
          
          <td>
          <a href="/admin/category/edit?id={{.id}}" class="btn btn-info">修改</a>
          <a href="/admin/category/delete?id={{.id}}" class="btn btn-danger">删除</a>
          </td>
        </tr>
        {{end}}
        {{end}}
      </tbody>
    </table>
    <nav aria-label="Page navigation">
  <ul class="pagination">
    {{range $index,$val := .count}}
    <li {{if eq $index $.page}}class="active" {{end}}><a href="/admin/article/list?page={{$index}}">{{$index}}</a></li>
    {{end}}
  </ul>
</nav>
  </div>
{{template "admin/footer.html" .}}