{{template "home/layout.html" .}}

<div class="article">
<div class="detail-category">当前位置：<a href="list?cid={{.category.Id}}">{{.category.Name}}</a></p></div>
<div class="detail-title">
    <p style="font-weight:bold">{{.content.Title}}</p>
</div>
<div class="detail-line"></div>

<div class="detail-time">
 <p>发布时间:{{.content.Created}}</p>
</div>
<div class="detail-content">
{{str2html .content.Content}}

</div>
</div>
<div style="clear:both"></div>
<script>
$(".html").attr("style","background:#f0f0f0")

</script>
{{template "home/footer.html" .}}