

<!--<div class="footer-right"> 
<ul>
<li class="footer-right-first"><a href="/list?cid=31" style="font-size:14px;">新闻中心</a></li>
{{range.newsspecial}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
</ul>
<ul>
<li class="footer-right-first"><a href="/list?cid=4" style="font-size:14px;">产品系列</a></li>
{{range.prodcenter}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}

</ul>
<ul>
<li class="footer-right-first"><a href="/" style="font-size:14px;">互动体验</a></li>
{{range.interact}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
</ul>
<ul>
<li class="footer-right-first"><a href="/" style="font-size:14px;">经销商专区</a></li>
{{range.distributor}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
</ul>
<ul>
<li class="footer-right-first"><a href="/" style="font-size:14px;">工程案例</a></li>
{{range.cases}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
</ul>
<ul>
<li class="footer-right-first"><a href="/" style="font-size:14px;">设计师</a></li>
{{range.designer}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
</ul>
<ul>
<li class="footer-right-first"><a href="/" style="font-size:14px;">关于我们</a></li>
{{range.aboutus}}
<li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
</ul>
</div>-->
<!--<div class="footer-bottom">

  <a href="">企业邮箱|</a>
<a href="">联系我们|</a>
<a href="">新闻中心|</a>
<a href="">售后支持|</a>
<a href="">网站地图|</a>
<a href="">法律声明|</a>
<a href="http://www.beian.miit.gov.cn/" style="">皖ICP备19021043号-1</a>
<a href="" style="float:right">增值电信业务许可 电信与信息服务许可证</a>
</div>-->
</div>
</div>
</div>

<div id="footer1">
<div id="footer">
<div class="footer-left">
<p>与安徽黄金互动</p>
  <img src="http://www.cfcang.com/images/weixin.jpg"/>
<p>扫描二维码，关注安徽黄金</p>
</div>
<div class="footer-a">
<p>地址：安徽省合肥市高新区望江西路766号四层402室       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司电话：0551-62839165</p>
<a href="http://www.beian.miit.gov.cn/" ><p>安徽黄金 版权所有 备案许可证号为：皖ICP备19021043号-1</p></a>
</div>
</div>
</div>
    </body>
</html>