{{template "home/layout1.html" .}}
<div class="jituan">
<img class="jituan-img" src="/static/img/1.jpg" />

<div class="dongtai-list" style="width:454px;padding-right:0px;">
  <img src="/static/img/a013bc34180eda6740d1426519ad7d3.png" style="margin-left:100px;" />
</div>
</div>

<div class="lingdao">

<div class="dongtai-list" style="border:solid 1px #9b7d5f;">
  
  <h3 class="mini-title" >
  <img class="mini-img" style="width:28px;height:28px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />
  &nbsp;新闻中心
  <h3/>
  <ul class="new_list1">
    {{range .xinwen}}
    <li>{{ .time}}&nbsp;&nbsp;&nbsp;{{.cname}}&nbsp;&nbsp;&nbsp;<a href="/detail?id={{.id}}">{{.title}}</a></li>
    {{end}}
  </ul>
  <a href="/list?cid=55" style="font-seze:12px;color:#836a49;text-align:right;float:right;margin-right:25px;">更多</a>
</div>
<!--<a href="/detail?id=41">-->

<div class="dongtai-list " style="padding-right:0px;border:solid 1px #9b7d5f;">
<h3 class="mini-title" >
  <img class="mini-img" style="width:28px;height:28px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />
  &nbsp;新闻中心
  <h3/>
  <div class="layui-carousel" id="test33" lay-filter="test33">
  <div carousel-item="">
  <div ><img style="width:600px;height:380px" src="/static/img/11.jpg" /></div>
<div ><img style="width:600px;height:380px" src="/static/img/22.jpg" /></div>
<div ><img style="width:600px;height:380px" src="/static/img/333.jpg" /></div>
<div ><img style="width:600px;height:380px" src="/static/img/444.jpg" /></div>
  </div>
</div> 
<br style='clear:both'/>
<!--  <img class="dian-img"  src="/static/img/2.jpg" classs="dongtai-list dianmian" />-->
</div>
<!--</a>-->
</div>
<script>
layui.use(['carousel', 'form'], function(){
  var carousel1 = layui.carousel
  ,form = layui.form;
  //改变下时间间隔、动画类型、高度

  //图片轮播
  carousel1.render({
    elem: '#test33'
    ,width: '600px'
    ,height: '380px'
    ,interval: 5000
    ,anim: 'fade'
  });
});




</script>
<!--  名人堂开始-->
<div class="mingren" id="">
<h1 style="border-bottom: 0px;"><img class="mini-img" style="width:28px;height:28px;margin-right:15px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />大师团队</h1>
<div class="mingrenk"></div>
<ul>
<li ><a href="/detail?id=77"><img src="/static/img/ybw.jpg"/></a></li>
<li><a href="/detail?id=91"><img src="/static/img/20200918095657.png"/></a></li>
<li ><a href="/detail?id=79"><img src="/static/img/sgw.jpg"/></a></li>
<li ><a href="/detail?id=92"><img src="/static/img/u=1786974574,3092883305&fm=26&gp=0.jpg"/></a></li>
<li><a href="/detail?id=80"><img src="/static/img/gqy.jpg"/></a></li>
</ul>
<div class="mingrenk"></div>
</div>
<!--  名人堂end-->

<!--  产品中心开始-->
<div id="product">
<h1 style="border-bottom: 0px;"><img class="mini-img" style="width:28px;height:28px;margin-right:15px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />产品鉴赏</h1>
<div class="product-list">
  <ul>
{{range $index, $elem := .productarticle}}
<li style="border-bottom-width: 2px">
<a href="/list?cid={{$elem.cid}}">
<img src="{{$elem.image}}" /></a>
</li>
{{end}}
  </ul>
</div>  
</div>


<!--<div id="aboutus">
<img class="aboutus-leftimg" src="/static/img/186ae8f8a64aa813e156f824b319795.jpg">
<div class="aboutus-right">
  <img src="/static/img/about.png">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安徽黄金集团有限公司是一家集原料购销、设计研发、生产批发、品牌运营、战略投资于一体的大型综合性黄金珠宝企业。

        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚持“科学技术是第一生产力”的发展理念。拥有国内顶尖研发团队，全国销售人员高达数千人，先后申请专利百余项，各项性能指标位于国内先进水平。

        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;品牌发展至今已经覆盖国内大部分市场，拥有数量庞大的直营、加盟品牌零售店，同时也为全国客户提供一站式全品类黄金钻石珠宝采购批发销售服务。</p>
</div>
</div>-->

<div id="news">

<p class="news-top-t" ><img class="mini-img" style="width:28px;height:28px;margin-right:15px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />NEWS新闻</p>
<div class="news-left">

<a href="javascript:;" class="guonei" style="background:#9b7d5f;color:white;padding:5px;margin-left:20px;">国内金价</a>
<a href="javascript:;" class="guoji" style="background:#9b7d5f;color:white;padding:5px;">国际金价</a>
<img style="" class="guonei-img"src="http://webquotepic.eastmoney.com/GetPic.aspx?id=aum1&imageType=rf&token=44c9d251add88e27b65ed86506f6e5da"/>
<img style="display:none" class="guoji-img" src="http://webquotepic.eastmoney.com/GetPic.aspx?token=44c9d251add88e27b65ed86506f6e5da&nid=101.GC00Y&type=r&imageType=rf&_=1588673650634"/>
</div>
<div class="news-right">
  <p class="gold-title" style="font-size: 16px;">黄金头条<a href="/list?cid=52" style="color:#836a49">更多</a></p>
  <ul>
{{range.goldlist}}
    <li>
  <a href="/detail?id={{.id}}"><p class="gold-title-t">{{.title}}</p></a>
  <p class="gold-desc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.desc}}<p/>
</li>
{{end}}


</ul>
</div>
</div>

<script>
$(".guonei").click(function(){
  $(".guonei-img").attr("style","")
  $(".guoji-img").attr("style","display:none")
});
$(".guoji").click(function(){
  $(".guonei-img").attr("style","display:none")
  $(".guoji-img").attr("style","")
});
</script>
{{template "home/footer.html" .}}