{{template "home/layout.html" .}}
<div id="product">
<h1>PRODUCTS|产品鉴赏</h1>
<div class="product-list">
  <ul>
{{range.productarticle}}
<li style="border-bottom-width: 2px">
<img src="{{.image}}" />
<a href="/detail?id={{.id}}"><p class="product-list-title">{{.title}}</p></a>
<!--<p class="product-list-desc">{{.sub_title}}</p>-->
<a href="/list?cid={{.cid}}"><p class="product-list-border">进入产品系列</p></a>
</li>
{{end}}
  </ul>
</div>  
</div>

<!--<div id="aboutus">
<img class="aboutus-leftimg" src="/static/img/7b5195593a7441350ac0ca252cd78ef.jpg">
<div class="aboutus-right">
  <img src="/static/img/about.png">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安徽黄金集团有限公司是一家集原料购销、设计研发、生产批发、品牌运营、战略投资于一体的大型综合性黄金珠宝企业。

        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚持“科学技术是第一生产力”的发展理念。拥有国内顶尖研发团队，全国销售人员高达数千人，先后申请专利百余项，各项性能指标位于国内先进水平。

        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;品牌发展至今已经覆盖国内大部分市场，拥有数量庞大的直营、加盟品牌零售店，同时也为全国客户提供一站式全品类黄金钻石珠宝采购批发销售服务。</p>
</div>
</div>-->

<!--<div id="news">
<div class="news-top">
  <hr  class="news-top-left" />
  <p class="news-top-title">NEWS 新闻</p>
  <hr  class="news-top-right"/>
</div>
<div class="news-left">
<a href="javascript:;" class="guonei" style="background:#9b7d5f;color:white;padding:5px;margin-left:20px;">国内金价</a>
<a href="javascript:;" class="guoji" style="background:#9b7d5f;color:white;padding:5px;">国际金价</a>
<img style="" class="guonei-img"src="http://webquotepic.eastmoney.com/GetPic.aspx?id=aum1&imageType=rf&token=44c9d251add88e27b65ed86506f6e5da"/>
<img style="display:none" class="guoji-img" src="http://webquotepic.eastmoney.com/GetPic.aspx?token=44c9d251add88e27b65ed86506f6e5da&nid=101.GC00Y&type=r&imageType=rf&_=1588673650634"/>
</div>
<div class="news-right">
  <p><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2423097242,239184669&fm=26&gp=0.jpg" />黄金头条<a href="/list?cid=9">更多</a></p>
  <ul>
{{range.goldlist}}
    <li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}

</div>
<div class="news-right">
<p><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2423097242,239184669&fm=26&gp=0.jpg" />国际新闻<a href="/list?cid=10">更多</a></p>
<ul>
    {{range.nationallist}}
    <li><a href="/detail?id={{.id}}">{{.title}}</a></li>
{{end}}
  </ul>
</div>

</div>-->

<div id="dongtai" style="margin-bottom:50px;">
<a href="/detail?id=44">
<div class="dongtai-list" style="width:400px;border:solid 1px #79797b;margin-right:20px;">
  
  <h3 style="" class="mini-title">
  <img class="mini-img" style="width:28px;height:28px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安徽黄金领导层
  <h3/>
  <img class="mini-people" src="/static/img/gscsr.png" />
  <p class="mini-p" >马虎，安徽阜阳人，安徽黄金集团创始人、董事长，一直秉承“诚信为本，良心立业”原则，兢兢业业，勤勉克己，得到社会各界的认可，荣获“全国五一劳动奖章”“全国道德模范”“全国优秀农民工”“全国优秀劳务经理”“住建部劳动模范”“北京市劳动模范”“安徽省十大新闻人物”等殊荣。</p>
  <p class="mini-t">公司创始人马虎</p>
</div>
</a>
<div class="dongtai-list" style="width:400px;border:solid 1px #79797b;margin-right:20px;">
  <h3 style="" class="mini-title">
  <img class="mini-img" style="width:28px;height:28px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产业分布图
  <h3/>
  
</div>
<a href="/detail?id=41">
<div class="dongtai-list" style="width:293px;padding-right:0px;border:solid 1px #79797b;">
  <h3 style="" class="mini-title">
  <img class="mini-img" style="width:28px;height:28px;" src="/static/img/166a92c109f8ece850c14f58925136e.png" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;集团文化
  <h3/>
  <dl>
    <dd>企业文化：</dd>
    <dd>打造黄金百年企业，</dd>
    <dd>谱写徽韵文化传奇。</dd>
    <dd>愿景：</dd>
    <dd>打造国内一流黄金珠宝奢侈品牌，</dd>
    <dd>塑造中国黄金珠宝品牌中的安徽名片。</dd>
    <dd>使命：</dd>
    <dd>千年徽韵的文化传承者，</dd>
    <dd>专注于中国黄金珠宝产业发展，</dd>
    <dd>为消费者奉献无所超值的产品及服务</dd>
  </dl>
</div>
</a>
</div>

<script>
$(".guonei").click(function(){
  $(".guonei-img").attr("style","")
  $(".guoji-img").attr("style","display:none")
});
$(".guoji").click(function(){
  $(".guonei-img").attr("style","display:none")
  $(".guoji-img").attr("style","")
});
</script>
{{template "home/footer.html" .}}