{{template "home/layout.html" .}}
<div class="list-">
<div class="list-title">
当前位置：<a href="list?cid={{.category.Id}}">{{.category.Name}}</a>
</div>
<div class="" style="float:left;width:1200px;height:620px;background:white;">
<div class="list-title-left">
<dl>
<!--  <dt>品牌门店</dt>
<dt class="selected">产品中心</dt>-->
{{range.categorymap}}
<dt><a href="list?cid={{.id}}">{{.name}}</a></dt>
{{end}}
</ul>
</div>
<div class="list-title-right">
<div class="list-title-content">
<ul>
{{range.alist}}
<li><a href="/detail?id={{.id}}">{{.title}}</a><span>{{.created}}</span></li>
{{end}}
</ul>
</div>
<!--<div class="container large">
  <div class="pagination">
    <ul>

      <li> <a href="ds">1</a> </li>
    <li> <a href="">2</a> </li>
    <li> <a href="" class="current-page">3</a> </li>
    </ul>
  </div>
</div>-->

</div>
</div>
</div>

{{template "home/footer.html" .}}