{{template "home/layout.html" .}}
<div class="list-">
<div class="list-title">
当前位置：<a>关于我们</a>
</div>
<div class="" style="float:left;width:1200px;height:620px;">
<div class="list-title-left">
<dl>
  <dt>品牌门店</dt>
<dt class="selected">产品中心</dt>
<dt>国际新闻</dt>
<dt>品牌概况</dt>
<dt>品牌加盟</dt>
<dt>新闻中心</dt>
<dt>产品中心</dt>
<dt>互动体验</dt>
<dt>经销商专区</dt>
<dt>工程案例</dt>
<dt>设计师</dt>
<dt>关于我们</dt>
</ul>
</div>
<div class="list-title-right">
<div class="list-title-content">
<ul>
{{range.alist}}
<li><a href="/detail?id={{.id}}">{{.title}}</a><span>{{.created}}</span></li>
{{end}}
</ul>
</div>
<!--<div class="container large">
  <div class="pagination">
    <ul>

      <li> <a href="ds">1</a> </li>
    <li> <a href="">2</a> </li>
    <li> <a href="" class="current-page">3</a> </li>
    </ul>
  </div>
</div>-->

</div>
</div>
</div>

{{template "home/footer.html" .}}